.main {
  background: #f1f2f2;
  padding: 50px 0;

  @media (min-width: 768px) {
    .col-md-3 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
      padding: 0;
    }
  }

  @media (min-width: 768px) {
    .col-md-9 {
      -ms-flex: 0 0 80%;
      flex: 0 0 80%;
      max-width: 80%;
      padding-left: 15px;
      padding-right: 0;
    }
  }

  .flight-count {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .flight_ranking {
    float: right;

    span {
      padding-right: 10px;
      color: #666;
      font-size: 14px;
    }

    input {
      padding: 5px;
      font-size: 14px;
      width: 250px;
    }
  }

  .filter-container {
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.23);

    .filter-content {
      border-bottom: 1px solid #e0e0e0;
      padding: 20px;

      &--top {
        padding-bottom: 30px;
        font-size: 11px;

        h3 {
          float: left;
          margin: 0;
          padding: 0;
          color: #575b62;
          font-weight: bold;
          font-size: 11px;
        }

        span {
          text-decoration: underline;
          color: #bdc0c8;
          float: right;
          cursor: pointer;
        }
      }

      &--body {
        clear: both;
        li {
          position: relative;
        }
        .square {
          width: 15px;
          height: 15px;
          background: transparent;
          border: 2px solid #d9dce4;
          position: absolute;
          top: 25%;
          cursor: pointer;

          &.active {
            background: red;
          }
        }

        span {
          margin-left: 8%;
          color: #575b62;
          font-size: 14px;
        }
      }
    }
  }

  .flight-container {
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.23);

    .flight-top {
      padding: 10px 0;
      border-bottom: 1px solid #d9dce4;
      font-size: 14px;
      color: #666;
    }

    .container-fluid {
      padding-left: 4px;
      padding-right: 5px;

      .row {
        margin-right: 0;
        margin-left: 0;
      }
    }

    .flight-card {
      border-bottom: 1px solid #d9dce4;
      align-items: center;
      display: flex;
      padding: 20px 0;
      overflow: hidden;

      .flight-img, .flight-time, .pricing-detail {
        display: flex;
        align-items: center;
      }

      .date-time {
        display: inline-grid;
        align-items: center;
      }

      h3 {
        text-align: center;
        color: #3f4146;
        font-size: 17px;
        font-weight: bold;
        margin: 0;
      }

      p {
        text-align: center;
        font-size: 11px;
        color: #888d99;
        padding: 0;
        margin: 0;
      }
      .pricing-detail {
        background: #f6f7f9;
        padding: 10px 0;
        button {
          background: #1962af;
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 2px;
          color: #fff;
          font-size: 14px;
          font-weight: 600;

          &:hover {
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.23);
          }
        }
      }

      img {
        height: 40px;
        margin: 0 auto;
        display: flex;
      }
    }
  }
}