.search-container {
  background: #e83831;
  width: 100%;
  padding: 25px 0;

  &--input-list {
    width: 100%;
    display: inline-block;
    background: #fff;

    div {
      float: left;
      border-left: 1px solid #ccc;
      position: relative;

      &:first-child {
        border-left: none;
      }

      input {
        width: 100%;
        border: none;
        line-height: 3;
        padding: 0 35px;
        color: #666;

        &.search-input__user {
          padding-left: 15px;
          padding-right: 0;
          text-align: center;
        }
      }

      span {
        position: absolute;
        top: 25%;
        left: 10px;
        color: rgb(171, 171, 171);
      }
    }

    &__big {
      width: 20%;
    }

    &__small {
      width: 5%;
    }

    &__middle {
      width: 15%;
      height: 100%;
      padding: 7px;

      button {
        background: #e83831;
        color: #fff;
        border: none;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
  }
}