<template>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 header-logo">
                    <img src="../assets/images/logo.png" width="150" class="img-fluid" alt="LOGO">
                </div>
                <div class="col-md-9 header-nav">
                    <ul class="float-right">
                        <li class="active"><i class="fas fa-home"></i>&nbsp;Anasayfa</li>
                        <li><i class="fas fa-bullhorn"></i>&nbsp;Süper Fırsatlar</li>
                        <li><i class="far fa-question-circle"></i>&nbsp;Yardım</li>
                        <li><i class="far fa-envelope"></i>&nbsp;İletişim</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'header'
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
