<template>
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="flight-count">25 Uçuş Listeleniyor</h1>
                </div>
                <div class="col-md-9">
                    <div class="flight_ranking">
                        <span>Sıralama</span>
                        <input type="text" placeholder="Ucuzdan pahalıya">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-container">
                        <div class="filter-content">
                            <div class="filter-content--top">
                                <h3 class="filter-content--top__header">AKTARMA</h3>
                                <span class="filter-content--top__all-selected">Tümünü seç</span>
                            </div>
                            <div class="filter-content--body">
                                <ul>
                                    <li>
                                        <div class="square active"></div>
                                        <span>Sadece Aktarmasız</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>1 Aktarma</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>2+ Aktarma</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-content">
                            <div class="filter-content--top">
                                <h3 class="filter-content--top__header">SINIF</h3>
                                <span class="filter-content--top__all-selected">Tümünü seç</span>
                            </div>
                            <div class="filter-content--body">
                                <ul>
                                    <li>
                                        <div class="square active"></div>
                                        <span>Ekonomi</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>Business</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>Kurumsal</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-content">
                            <div class="filter-content--top">
                                <h3 class="filter-content--top__header">MAX FİYAT</h3>
                                <span class="filter-content--top__all-selected">Tümünü seç</span>
                            </div>
                            <div class="filter-content--body">
                                <ul>
                                    <li>
                                        <div class="square active"></div>
                                        <span>Sadece Aktarmasız</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>1 Aktarma</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>2+ Aktarma</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-content">
                            <div class="filter-content--top">
                                <h3 class="filter-content--top__header">MAX UÇUŞ SÜRESİ</h3>
                                <span class="filter-content--top__all-selected">Tümünü seç</span>
                            </div>
                            <div class="filter-content--body">
                                <ul>
                                    <li>
                                        <div class="square active"></div>
                                        <span>Sadece Aktarmasız</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>1 Aktarma</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>2+ Aktarma</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter-content">
                            <div class="filter-content--top">
                                <h3 class="filter-content--top__header">HAVAYOLU</h3>
                                <span class="filter-content--top__all-selected">Tümünü seç</span>
                            </div>
                            <div class="filter-content--body">
                                <ul>
                                    <li>
                                        <div class="square active"></div>
                                        <span>Sadece Aktarmasız</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>1 Aktarma</span>
                                    </li>
                                    <li>
                                        <div class="square"></div>
                                        <span>2+ Aktarma</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="flight-container">
                        <div class="flight-top">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2 text-center">Havayolu</div>
                                    <div class="col-md-2 text-center">Kalkış</div>
                                    <div class="col-md-2 text-center">Varış</div>
                                    <div class="col-md-2 text-center">Aktarma/Süre</div>
                                    <div class="col-md-2 text-center">Fiyat</div>
                                    <div class="col-md-2 text-center">Satın Al</div>
                                </div>
                            </div>
                        </div>
                        <div class="flight-card">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2 flight-img">
                                        <img src="../assets/images/pegasus-logo.png" alt="FLIGHT-COMPANY">
                                    </div>
                                    <div class="col-md-4 flight-time">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>07:40</h3>
                                                    <p>ADA</p>
                                                </div>
                                                <span class="flight-icon"><i></i></span>
                                                <div class="col-md-6">
                                                    <h3>09:10</h3>
                                                    <p>ADB</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 date-time">
                                        <h3 >Direkt Uçuş</h3>
                                        <p>30 Dakika</p>
                                    </div>
                                    <div class="col-md-4 pricing-detail">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>66.99 TL</h3>
                                                    <p>Pegasus Airlines</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <button>İncele</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flight-card">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2 flight-img">
                                        <img src="../assets/images/pegasus-logo.png" alt="">
                                    </div>
                                    <div class="col-md-4 flight-time">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>07:40</h3>
                                                    <p>ADA</p>
                                                </div>
                                                <span class="flight-icon"><i></i></span>
                                                <div class="col-md-6">
                                                    <h3>09:10</h3>
                                                    <p>ADB</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 date-time">
                                        <h3 >Direkt Uçuş</h3>
                                        <p>1 Saat 30 Dakika</p>
                                    </div>
                                    <div class="col-md-4 pricing-detail">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>66.99 TL</h3>
                                                    <p>Pegasus Airlines</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <button>İncele</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flight-card">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-2 flight-img">
                                        <img src="../assets/images/pegasus-logo.png" alt="">
                                    </div>
                                    <div class="col-md-4 flight-time">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>07:40</h3>
                                                    <p>ADA</p>
                                                </div>
                                                <span class="flight-icon"><i></i></span>
                                                <div class="col-md-6">
                                                    <h3>09:10</h3>
                                                    <p>ADB</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 date-time">
                                        <h3 >Direkt Uçuş</h3>
                                        <p>1 Saat 30 Dakika</p>
                                    </div>
                                    <div class="col-md-4 pricing-detail">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>66.99 TL</h3>
                                                    <p>Pegasus Airlines</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <button>İncele</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "main"
    }
</script>

<style scoped>

</style>