<template>
    <div class="search-container">
        <div class="container-fluid">
            <div class="row">
                <div class="search-container--input-list">
                    <div class="search-container--input-list__big">
                        <input type="text" class="search-input__up" placeholder="Nereden">
                        <span class=icon><i class="fas fa-plane-departure"></i></span>
                    </div>
                    <div class="search-container--input-list__big">
                        <input type="text" class="search-input__down" placeholder="Nereye">
                        <span class=icon><i class="fas fa-plane-arrival"></i></span>
                    </div>
                    <div class="search-container--input-list__big">
                        <input type="text" class="search-input__up-date" placeholder="Gidiş Tarihi">
                        <span class=icon><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <div class="search-container--input-list__big">
                        <input type="text" class="search-input__down-date" placeholder="Dönüş Tarihi">
                        <span class=icon><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <div class="search-container--input-list__small">
                        <input type="text" class="search-input__user" value="1">
                        <span class=icon><i class="fas fa-user"></i></span>
                    </div>
                    <div class="search-container--input-list__middle">
                        <button>Yeniden Ara</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search"
    }
</script>

<style scoped>
</style>