@import url('https://www.fontify.me/wf/d35c20d9b911482f72b21603dc6f2e7a');

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: font92689;
}

a:hover {
  color: inherit;
}

button:focus, input:focus {
  outline: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding-left: 150px;
  padding-right: 150px;
}